.header {
	height:  263px;
	width:  $magazine-width-big; 
	max-width:  100%;
	margin-left:  auto; 
	margin-right:  auto; 

	background-size:  cover; 
	background-position:  center center;  
	position:  relative;

	// z-index:  100;
}
.logo {
	height:  160px;
	margin-top:  -40px;
	margin-left:  48px;
	position:  absolute;
}
.header__menu {
	height:  88px; 
	background:  #071822;
	width:  100%; 
	display:  flex; 
	flex-direction:  row; 
	align-items:  center; 
	justify-content:  flex-end;
}
.menu__link {
	font-family: 'Vista Sans OT';
	// font-weight:  300;
	color:  #ffffff; 
	text-decoration:  none; 
	margin-right:  24px;
	letter-spacing:  1px;
	font-size:  18px;
	overflow:  hidden;
	max-width:  200px;
}
.global-search {
	border-style:  none; 
	// border:  solid 2px rgba(255,255,255,.86); 
	border-bottom:  solid 1px #ffffff;
	height:  36px; 
	width:  180px; 
	font-size:  18px;
	// border-radius:  6px;
	padding-left:  12px;
	padding-right:  36px;
	background:  none;
	font-family:  "Vista Sans OT";
	color:  #ffffff;
	font-weight:  normal;
	display:  flex; 
	flex-direction:  row; 
	align-items:  center; 
	justify-content:  flex-start;
	margin-right:  72px;

	background-image:  url("../images/search.svg");
	background-position:  center right; 
	background-repeat:  no-repeat;
}
.burger-menu-button {
	height:  18px; 
	width:  24px;
	position:  absolute;
	right:  24px;
	z-index:  200;
	div {
		height:  1px;
		width:  100%; 
		background:  #ffffff;
		position:  absolute;  
	}
	.burger-1 {
		top:  0px; 
		left:  0px;
	}
	.burger-2 {
		top:  8px;
	}
	.burger-3 {
		top:  16px;
	}
}