.hint__svg { 
	fill: #a6ce39; 
}
.hint__svg-2 { 
	fill: #ffffff; 
}
.hint__text, 
.big-cover__title,
.distinguished-post__number,
.recent-news__title,
.main-highlight__section, 
.primary-highlight__section, 
.secondary-highlight__section, 
.tertiary-highlight__section { 
	color: #a6ce39; 
}
.hint__background, 
.distinguished-news__title,
.today-history__title
 { 
	background-color:  #a6ce39; 
}
.white-background { 
	fill:  #ffffff;  
}
.highlight__link,
.alt-mag-link span {
	color:  #00aeef;
}
.hint__svg--stroke {
	stroke:#00aeef;
}
